%h3 Add a bookmark
= form_for(@bookmark) do |f|
  %ul
    %li
      = f.label :url, 'URL'
      = f.text_field :url

    %li
      = f.label :tags
      = f.text_field :tags_list

  = f.submit 'Save'
